{% extends 'base.html.twig' %}

{% block title %}Blogg | {{ pageName }}{% endblock %}

{% block main %}

    <div class="flex row">

        <aside class="w-1/3 mx-20 rounded-lg bg-cyan-400 p-5 text-justify">
            Les auteurs :

        </aside>

        <div class="flex flex-row flex-wrap	gap-4 items-start ">
            <div class="rounded-lg bg-cyan-400 text-justify h-48 w-48">
                <img class="fit-picture rounded-t-lg" src="https://picsum.photos/200/100" alt="image post">
                <h3 class="p-2">title post</h3>
                <p class="p-2">texte post</p>
            </div>
            <div class="rounded-lg bg-cyan-400 text-justify h-48 w-48">
                <img class="fit-picture rounded-t-lg" src="https://picsum.photos/200/100" alt="image post">
                <h3 class="p-2">title post</h3>
                <p class="p-2">texte post</p>
            </div>
            <div class="rounded-lg bg-cyan-400 text-justify h-48 w-48">
                <img class="fit-picture rounded-t-lg" src="https://picsum.photos/200/100" alt="image post">
                <h3 class="p-2">title post</h3>
                <p class="p-2">texte post</p>
            </div>
            <div class="rounded-lg bg-cyan-400 text-justify h-48 w-48">
                <img class="fit-picture rounded-t-lg" src="https://picsum.photos/200/100" alt="image post">
                <h3 class="p-2">title post</h3>
                <p class="p-2">texte post</p>
            </div>
            <div class="rounded-lg bg-cyan-400 text-justify h-48 w-48">
                <img class="fit-picture rounded-t-lg" src="https://picsum.photos/200/100" alt="image post">
                <h3 class="p-2">title post</h3>
                <p class="p-2">texte post</p>
            </div>
            <div class="rounded-lg bg-cyan-400 text-justify h-48 w-48">
                <img class="fit-picture rounded-t-lg" src="https://picsum.photos/200/100" alt="image post">
                <h3 class="p-2">title post</h3>
                <p class="p-2">texte post</p>
            </div>
            <div class="rounded-lg bg-cyan-400 text-justify h-48 w-48">
                <img class="fit-picture rounded-t-lg" src="https://picsum.photos/200/100" alt="image post">
                <h3 class="p-2">title post</h3>
                <p class="p-2">texte post</p>
            </div>
            <div class="rounded-lg bg-cyan-400 text-justify h-48 w-48">
                <img class="fit-picture rounded-t-lg" src="https://picsum.photos/200/100" alt="image post">
                <h3 class="p-2">title post</h3>
                <p class="p-2">texte post</p>
            </div>
            <div class="rounded-lg bg-cyan-400 text-justify h-48 w-48">
                <img class="fit-picture rounded-t-lg" src="https://picsum.photos/200/100" alt="image post">
                <h3 class="p-2">title post</h3>
                <p class="p-2">texte post</p>
            </div>
            <div class="rounded-lg bg-cyan-400 text-justify h-48 w-48">
                <img class="fit-picture rounded-t-lg" src="https://picsum.photos/200/100" alt="image post">
                <h3 class="p-2">title post</h3>
                <p class="p-2">texte post</p>
            </div>
        </div>

    </div>
{% endblock %}
