<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blogg{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <script src="https://cdn.tailwindcss.com"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    
    <body class="bg-cyan-400/50">
        <header>
            <nav class="flex justify-between m-10">
            <div class="text-xl font-bold">
                <a href="{{ path("default") }}">Blogg</a>
            </div>
            <div class="inline-block my-2 mx-2  py-1 px-4 rounded-lg bg-blue-600 hover:bg-blue-800 hover:text-white">
                <a href="">Ajout d'un article</a>
            </div>
            {# <ul class="flex">
                <li class="py-0.1 px-4 rounded-lg hover:font-semibold"><a href="#">Type 1</a></li>
                <li class="py-0.1 px-4 rounded-lg hover:font-semibold"><a href="#">Type 2</a></li>
                <li class="py-0.1 px-4 rounded-lg hover:font-semibold"><a href="#">Type 3</a></li>
                <li class="py-0.1 px-4 rounded-lg hover:font-semibold"><a href="#">Type 4</a></li>
                <li class="py-0.1 px-4 rounded-lg hover:font-semibold"><a href="#">Type 5</a></li>
            </ul> #}
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
